<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="trainee">
            <h2><span jhiTranslate="afpappApp.trainee.detail.title">Trainee</span> {{trainee.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afpappApp.trainee.lastName">Last Name</span></dt>
                <dd>
                    <span>{{trainee.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="afpappApp.trainee.firstName">First Name</span></dt>
                <dd>
                    <span>{{trainee.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="afpappApp.trainee.training">Training</span></dt>
                <dd>
                    <div *ngIf="trainee.trainingId">
                        <a [routerLink]="['/training', trainee.trainingId, 'view']">{{trainee.trainingId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/trainee', trainee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
